@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Permanent+Marker&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    padding: 0 10px;
    height: 600px;
    background-image: url(../images/lidye-1Shk_PkNkNw-unsplash.jpg);
    background-position: -270px center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 120px;

    img {
        width: 30px;
    }

    p {
        font-size: 1.5em;
        color: blue;
    }
}

.nav-links {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    display: none;

    a {
        margin: 0 15px;
        text-decoration: none;
        color: blue;
        font-size: 1.2em;
    }
}

.dropdown {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 1px;
    top: 43px;
    background-color: #f9f9f900;
    width: 160px;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 10px;
    a {
        text-align: center;
        margin: 0;
        color: white;
        font-weight: bold;
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    a:first-of-type {
        border-radius: 10px 10px 0 0;
    }

    a:last-of-type {
        border-radius: 0 0 10px 10px;
    }

    a:hover {
        background-color: rgba(255, 255, 255, 0.384);
    }
}

.welcome {
    color: white;

    h1 {
        font-family: 'Love Ya Like A Sister', cursive;
        margin-top: 100px;
        font-size: 4em;
    }

    p {
        font-size: 1.5em;
        width: 70%;
        font-weight: bold;
        margin: 15px 0;
    }

    a {
        display: block;
        text-align: center;
        background-color: blue;
        padding: 15px 20px;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
        width: fit-content;
    }
}


main {
    h3, h2 {
        font-family: 'Love Ya Like A Sister', cursive;
        text-align: center;
    }
    
    .idea {
        padding: 50px;
        margin-top: 50px;


        div {
            display: flex;
            flex-direction: column;
            margin: 20px auto;
        }

        img {
            width: 60px;
            display: block;
            margin: auto;
        }

        h3, h2 {
            font-family: 'Love Ya Like A Sister', cursive;
            text-align: center;
        }

        h3 {
            margin: 10px 0;
        }
    }

    .new {
        display: flex;
        flex-direction: column;
        min-height: 1000px;
        width: 80%;
        margin: 50px auto;
        background-color: rgb(63, 63, 231);

        h2 {
            color: white;
            margin-top: 50px;
            font-size: 3em;
        }

        .card {
            height: 600px;
            width: 90%;
            margin: 200px auto;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .image {
                background-image: url(../images/dan-gold-E6HjQaB7UEA-unsplash.jpg);
                height: 50%;
                background-size: cover;
            }

            h3 {
                font-size: 2em;
                text-align: left;
                padding: 20px;
            }

            p {
                padding: 0 20px;
                font-size: 1.2em;
                line-height: 30px;
                margin-bottom: 40px;
            }

            a {
                text-align: center;
                font-size: 1.3em;
                width: 200px;
                margin-left: 20px;
                margin-bottom: 30px;
                padding: 10px;
                border: 1px solid rgb(63, 63, 231);
                text-decoration: none;
                color: rgb(63, 63, 231);
            }

            a:hover {
                background-color: rgb(63, 63, 231);
                color: white;
            }
        }
    }

    .reserve {
        width: 80%;
        margin: auto;

        div {
            display: flex;
            flex-direction: column;
            margin: 15px;

            label {
                margin-bottom: 5px;
                font-size: 1.2em;
            }

            input {
                height: 40px;
                padding: 0 10px;
            }
        }
    }

}

footer {
    margin-top: 50px;

    p {
        color: rgb(180, 175, 175);
        background-color: black;
        padding: 20px 30px;
        text-align: end;
        font-size: 1.2em;
    }
}



@media (min-width: 518px) {
    header {
        background-position: -150px center;
    }

    main {
        .idea {
            padding: 0px 20%;
        }
    }
}

@media (min-width: 723px) {
    header {
        background-position: center;

        .welcome {
            margin-left: 15%;
            font-size: 1.2em;
        }
    }
}
/* .logo p {
    align-self: center;
}
 */